
DeliverySolution/.idea/

DeliverySolution/.vs/

DeliverySolution/Delivery.API/bin/

DeliverySolution/Delivery.API/obj/

DeliverySolution/DeliveryApi/bin/

DeliverySolution/DeliveryApi/obj/

DeliverySolution/DeliveryDomain/bin/

DeliverySolution/DeliveryDomain/obj/

DeliverySolution/DeliveryInfrastructure/bin/

DeliverySolution/DeliveryInfrastructure/obj/
