
DeliverySolution/.idea/

DeliverySolution/.vs/

DeliverySolution/DeliveryApi/bin/

DeliverySolution/DeliveryApi/obj/

DeliverySolution/DeliveryDomain/bin/

DeliverySolution/DeliveryDomain/obj/

DeliverySolution/DeliveryInfrastructure/bin/

DeliverySolution/DeliveryInfrastructure/obj/

DeliverySolution/Tests/DeliveryApiTests/obj/

DeliverySolution/Tests/DeliveryApiTests/bin/

DeliverySolution/Tests/DeliveryDomainTests/bin/

DeliverySolution/Tests/DeliveryDomainTests/obj/

DeliverySolution/DeliverySolution.sln.DotSettings.user

DeliverySolution/DeliveryBackground/obj/

DeliverySolution/DeliveryBackground/bin/

DeliverySolution/Tests/DeliveryInfrastructureTests/bin/

DeliverySolution/Tests/DeliveryInfrastructureTests/obj/
